body {
    margin: 0;
}

table {
    width: 100%;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
}

tr {
    padding: 2em;
    height: 40px;
    border-bottom: 1px solid #ccc !important;
}

a {
    text-decoration: none;
    color: #e91e1e;
}

pre {
    margin: 0;
}

/* Nav Styling */

a.active p {
    text-decoration: none;
    color: #70c0ff !important;
}

/* Content Styling */

section.content {
    display: flex;
    flex-flow: wrap;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(58, 58, 58);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #2196f3;
    border-left: 1px solid rgb(58, 58, 58);
}

::-webkit-scrollbar-thumb:window-inactive {
    border-radius: 5px;
    background: #2196f3;
    border-left: 1px solid rgb(58, 58, 58);
}

/* Block Content Styling */
.block {
    margin: 2em;
    flex: auto;
    max-width: 45%;
}

@media screen and (max-width: 1120px) {
    .block {
        margin-top: 1em;
        flex: auto;
        max-width: 100%;
    }
}

.block .block-content-title {
    background: #2196f3;
    color: white;
    text-align: center;
    padding: 0;
}

.block .block-content-title h3 {
    margin: 0px;
    padding: 0.5em 0;
}

.block .block-content-sub-title {
    background: #0d2e60;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

.block .block-content-sub-title h4 {
    padding: 0;
    margin: 0;
}

.block .block-content-description {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.1em;
    padding: 1em 2em;
}

.block-content-description div {
    padding: 1em 0;
    border-bottom: 1px solid #e2e2e2;
}

.block p {
    background-color: #fff;
    padding: 1.5em;
    margin: 0;
    border-top: 1px solid #2196f3;
}


/* Masonry Block Content Styling */

section.masonry-grid {
    column-count: 4;
    column-gap: 1em;
    display: inherit;
    width: 100%;
}

section.masonry-grid-2col {
    column-count: 2;
    column-gap: 1em;
    display: inherit;
    width: 100%;
}

@media screen and (max-width: 1800px) {

    section.masonry-grid {
        column-count: 3;
        column-gap: 1em;
        display: inherit;
        width: 100%;
    }

    section.masonry-grid-2col {
        column-count: 2;
        column-gap: 1em;
        display: inherit;
        width: 100%;
    }
}

@media screen and (max-width: 1120px) {
    section.masonry-grid {
        column-count: 2;
        column-gap: 1em;
        display: inherit;
        width: 100%;
    }

    section.masonry-grid-2col {
        column-count: 2;
        column-gap: 1em;
        display: inherit;
        width: 100%;
    }

    .block {
        margin: 0em;
    }
}

@media screen and (max-width: 700px) {
    section.masonry-grid {
        column-count: 1;
        column-gap: 1em;
        display: inherit;
        width: 100%;
    }

    section.masonry-grid-2col {
        column-count: 1;
        column-gap: 1em;
        display: inherit;
        width: 100%;
    }
}


section.masonry-grid>.block {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    max-width: 100%;
    width: 100%;
}

section.masonry-grid-2col>.block {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    max-width: 100%;
    width: 100%;
}



/* Material UI */
.MuiList-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}