body {
    margin: 0;
}

table {
    width: 100%;
    padding: 2em;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
}

tr {
    padding: 2em;
    height: 40px;
    border-bottom: 1px solid #ccc !important;
}

a {
    text-decoration: none;
    color: #e91e1e;
}

pre {
    margin: 0;
    padding: 4em;
}

/* Nav Styling */

a.active p {
    text-decoration: none;
    color: #70c0ff !important;
}

/* Content Styling */

section.content {
    display: flex;
    flex-flow: wrap;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(58, 58, 58);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #2196f3;
    border-left: 1px solid rgb(58, 58, 58);
}

::-webkit-scrollbar-thumb:window-inactive {
    border-radius: 5px;
    background: #2196f3;
    border-left: 1px solid rgb(58, 58, 58);
}

/* Block Content Styling */
.block {
    margin: 2em;
    flex: auto;
    max-width: 45%;
}

@media screen and (max-width: 700px) {
    .block {
        margin: 2em;
        flex: auto;
        max-width: 100%;
    }
}

.block .block-content-title {
    background: #2196f3;
    color: white;
    text-align: center;
    padding: 0.5em;
}

.block .block-content-sub-title {
    background: #9c27b0;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

.block .block-content-sub-title h4 {
    padding: 0;
    margin: 0;
}

.block .block-content-description {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
}


.block p {
    background-color: #fff;
    padding: 1.5em;
}
